In [1080]:
#! -*- coding: UTF8 -*-
import os
os.chdir(os.getcwd())

## Import Module

In [1081]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [1082]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

## Import Data

In [1083]:
df1 = pd.read_excel('process_data/GPP_6210501001.xlsx',sheet_name="Ayutthaya",index_col="Year") #ตัวอย่าง
df1.head()

,"Agriculture, forestry and fishing",Mining and quarrying,Manufacturing,"Electricity, gas, steam and air conditioning supply","Water supply; sewerage, waste management and remediation activities",Construction,Wholesale and retail trade and repair of motor vehicles,Transportation and storage,Accommodation and food service activities,Information and communication,...,การนำเข้าสินค้าและบริการ (คิดเป็น % ของจีดีพี),มูลค่าเพิ่มของอุตสาหกรรม (คิดเป็น % ของจีดีพี),จำนวนประชากรทั้งหมด (คน),ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี),รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท),เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่),จำนวนนักท่องเที่ยวชาวไทย (คน),จำนวนนักท่องเที่ยวชาวต่างชาติ (คน),จำนวนโรงงานอุตสาหกรรม (โรงงาน),GPP Per capita (Baht)
Year,,,,,,,,,,,,,,,,,,,,,
1995,3069,471,70294,2030,254,1566,16137,1392,655,472,...,48.223830,37.278020,59467272,NaN,NaN,NaN,NaN,NaN,NaN,143862.554
1996,3305,513,80942,2290,324,5205,19161,1626,819,595,...,45.255728,37.081286,60130190,0.11918,NaN,NaN,NaN,NaN,NaN,171503.917
1997,4056,474,86917,2697,382,1756,20641,2219,675,575,...,46.814732,36.564600,60846588,0.10214,NaN,NaN,NaN,NaN,NaN,179223.451
1998,4805,395,84878,3388,420,1166,22362,2306,666,585,...,42.303171,36.111727,61585103,NaN,NaN,NaN,NaN,NaN,NaN,180611.806
1999,4030,302,92332,2974,503,1397,22431,2483,685,836,...,44.267746,36.378900,62298569,0.24836,NaN,NaN,NaN,NaN,NaN,189856.706

In [1084]:
df1.keys()

Index(['Agriculture, forestry and fishing', 'Mining and quarrying',
       'Manufacturing', 'Electricity, gas, steam and air conditioning supply',
       'Water supply; sewerage, waste management and remediation activities',
       'Construction',
       'Wholesale and retail trade and repair of motor vehicles',
       'Transportation and storage',
       'Accommodation and food service activities',
       'Information and communication', 'Financial and insurance activities',
       'Real estate activities',
       'Professional, scientific and technical activities',
       'Administrative and support service activities',
       'Public administration and defence; compulsory social security',
       'Education', 'Human health activities',
       'Arts, entertainment and recreation', 'Other service activities',
       'การค้าสินค้า (คิดเป็น % ของจีดีพี)',
       'มูลค่าเพิ่มของการเกษตร (คิดเป็น % ของจีดีพี)',
       'การนำเข้าสินค้าและบริการ (คิดเป็น % ของจีดีพี)',
       'มูลค่าเพิ่มของอุตสาหกรรม (คิดเป็น % ของจีดีพี)',
       'จำนวนประชากรทั้งหมด (คน)',
       'ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี)',
       'รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท)',
       'เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)',
       'จำนวนนักท่องเที่ยวชาวไทย (คน)', 'จำนวนนักท่องเที่ยวชาวต่างชาติ (คน)',
       'จำนวนโรงงานอุตสาหกรรม (โรงงาน)', 'GPP Per capita (Baht)'],
      dtype='object')

## Find data by Regression

##### รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท)

In [1085]:
ex1 = df1.loc[[i for i in range(2006,2019)],['รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท)','GPP Per capita (Baht)']]
ex1

      รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท)  GPP Per capita (Baht)
Year
2006                                         15859.00             298954.253
2007                                         16757.00             339993.396
2008                                         19201.00             438555.445
2009                                         20717.00             379657.777
2010                                         18789.00             427733.436
2011                                         17534.30             365800.945
2012                                         25215.89             378620.537
2013                                         20493.70             461789.496
2014                                         20409.63             417614.341
2015                                         22218.10             468325.834
2016                                         23095.32             444803.565
2017                                         23780.19             449602.967
2018                                         22790.08             454952.541

In [1086]:
import statsmodels.api as sm
X = ex1[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
2006             298954.253    1.0
2007             339993.396    1.0
2008             438555.445    1.0
2009             379657.777    1.0
2010             427733.436    1.0

In [1087]:
y = ex1['รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท)']
y.head()

Year
2006    15859.0
2007    16757.0
2008    19201.0
2009    20717.0
2010    18789.0
Name: รายจ่ายของประชากรในจังหวัดพระนครศรีอยุธยา (บาท), dtype: float64

In [1088]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05,random_state=14)

In [1089]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [1090]:
X_train

      GPP Per capita (Baht)  const
Year
2009             379657.777    1.0
2018             454952.541    1.0
2007             339993.396    1.0
2006             298954.253    1.0
2015             468325.834    1.0
2010             427733.436    1.0
2008             438555.445    1.0
2016             444803.565    1.0
2013             461789.496    1.0
2012             378620.537    1.0
2014             417614.341    1.0
2017             449602.967    1.0

In [1091]:
test_ex1 = df1.loc[[i for i in range(1995,2006)],['GPP Per capita (Baht)']]
test_ex1

      GPP Per capita (Baht)
Year
1995             143862.554
1996             171503.917
1997             179223.451
1998             180611.806
1999             189856.706
2000             219141.847
2001             219060.592
2002             231122.492
2003             256743.101
2004             271765.117
2005             273739.910

In [1092]:
X_test_ex1 = test_ex1[['GPP Per capita (Baht)']]
X_test_ex1 = sm.add_constant(X_test_ex1, prepend=False)
X_test_ex1.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
1995             143862.554    1.0
1996             171503.917    1.0
1997             179223.451    1.0
1998             180611.806    1.0
1999             189856.706    1.0

In [1093]:
predictions = lm.predict(X_test_ex1)
predictions

array([12393.62893434, 13253.42143668, 13493.53974975, 13536.72492914,
       13824.29018795, 14735.21287514, 14732.68541513, 15107.87426468,
       15904.81063585, 16372.07474026, 16433.50124137])

##### เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)

In [1094]:
ex2 = df1.loc[[i for i in range(2010,2019)],['เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)','GPP Per capita (Baht)']]
ex2

      เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)  GPP Per capita (Baht)
Year
2010                              1155861.0             427733.436
2011                              1158113.0             365800.945
2012                              1180726.0             378620.537
2013                              1177369.0             461789.496
2014                              1178443.0             417614.341
2015                              1177896.0             468325.834
2016                              1178345.0             444803.565
2017                              1178698.0             449602.967
2018                              1178475.0             454952.541

In [1095]:
X = ex2[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
2010             427733.436    1.0
2011             365800.945    1.0
2012             378620.537    1.0
2013             461789.496    1.0
2014             417614.341    1.0

In [1096]:
y = ex2['เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)']
y.head()

Year
2010    1155861.0
2011    1158113.0
2012    1180726.0
2013    1177369.0
2014    1178443.0
Name: เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่), dtype: float64

In [1097]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05,random_state=14)

In [1098]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [1099]:
test_ex2 = df1.loc[[i for i in range(1995,2010)],['GPP Per capita (Baht)']]
test_ex2

      GPP Per capita (Baht)
Year
1995             143862.554
1996             171503.917
1997             179223.451
1998             180611.806
1999             189856.706
2000             219141.847
2001             219060.592
2002             231122.492
2003             256743.101
2004             271765.117
2005             273739.910
2006             298954.253
2007             339993.396
2008             438555.445
2009             379657.777

In [1100]:
X_test_ex2 = test_ex2[['GPP Per capita (Baht)']]
X_test_ex2 = sm.add_constant(X_test_ex2, prepend=False)
X_test_ex2.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
1995             143862.554    1.0
1996             171503.917    1.0
1997             179223.451    1.0
1998             180611.806    1.0
1999             189856.706    1.0

In [1101]:
predictions = lm.predict(X_test_ex2)
predictions

array([1141681.33738848, 1144784.26279459, 1145650.83142842,
       1145806.68343912, 1146844.48447256, 1150131.9348067 ,
       1150122.81339674, 1151476.84126997, 1154352.92370433,
       1156039.24413279, 1156260.92767899, 1159091.40407385,
       1163698.31869885, 1174762.55912436, 1168150.90721711])

##### จำนวนโรงงานอุตสาหกรรม (โรงงาน)

In [1102]:
ex3= df1.loc[[i for i in range(2011,2019)],['จำนวนโรงงานอุตสาหกรรม (โรงงาน)','GPP Per capita (Baht)']]
ex3

      จำนวนโรงงานอุตสาหกรรม (โรงงาน)  GPP Per capita (Baht)
Year
2011                           147.0             365800.945
2012                           109.0             378620.537
2013                            93.0             461789.496
2014                           117.0             417614.341
2015                           132.0             468325.834
2016                           121.0             444803.565
2017                           117.0             449602.967
2018                            96.0             454952.541

In [1103]:
X = ex3[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
2011             365800.945    1.0
2012             378620.537    1.0
2013             461789.496    1.0
2014             417614.341    1.0
2015             468325.834    1.0

In [1104]:
y = ex3['จำนวนโรงงานอุตสาหกรรม (โรงงาน)']
y.head()

Year
2011    147.0
2012    109.0
2013     93.0
2014    117.0
2015    132.0
Name: จำนวนโรงงานอุตสาหกรรม (โรงงาน), dtype: float64

In [1105]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05,random_state=14)

In [1106]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [1107]:
test_ex3 = df1.loc[[i for i in range(1995,2011)],['GPP Per capita (Baht)']]
test_ex3

      GPP Per capita (Baht)
Year
1995             143862.554
1996             171503.917
1997             179223.451
1998             180611.806
1999             189856.706
2000             219141.847
2001             219060.592
2002             231122.492
2003             256743.101
2004             271765.117
2005             273739.910
2006             298954.253
2007             339993.396
2008             438555.445
2009             379657.777
2010             427733.436

In [1108]:
X_test_ex3 = test_ex3[['GPP Per capita (Baht)']]
X_test_ex3 = sm.add_constant(X_test_ex3, prepend=False)
X_test_ex3.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
1995             143862.554    1.0
1996             171503.917    1.0
1997             179223.451    1.0
1998             180611.806    1.0
1999             189856.706    1.0

In [1109]:
predictions = lm.predict(X_test_ex3)
predictions

array([177.28011573, 171.30690907, 169.63874343, 169.33872453,
       167.34093237, 161.01251075, 161.03006969, 158.42353319,
       152.88700475, 149.64079703, 149.21405083, 143.76531512,
       134.89689274, 113.59796158, 126.32555185, 115.93656175])

##### จำนวนนักท่องเที่ยวชาวไทย (คน)

In [1110]:
ex4 = df1.loc[[i for i in range(2010,2019)],['จำนวนนักท่องเที่ยวชาวไทย (คน)','GPP Per capita (Baht)']]
ex4

      จำนวนนักท่องเที่ยวชาวไทย (คน)  GPP Per capita (Baht)
Year
2010                      1068404.0             427733.436
2011                       851323.0             365800.945
2012                      1068100.0             378620.537
2013                      1073412.0             461789.496
2014                      1142119.0             417614.341
2015                      1205428.0             468325.834
2016                      1237790.0             444803.565
2017                      1281574.0             449602.967
2018                      1354163.0             454952.541

In [1111]:
X = ex4[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
2010             427733.436    1.0
2011             365800.945    1.0
2012             378620.537    1.0
2013             461789.496    1.0
2014             417614.341    1.0

In [1112]:
y = ex4['จำนวนนักท่องเที่ยวชาวไทย (คน)']
y.head()

Year
2010    1068404.0
2011     851323.0
2012    1068100.0
2013    1073412.0
2014    1142119.0
Name: จำนวนนักท่องเที่ยวชาวไทย (คน), dtype: float64

In [1113]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01,random_state=14)

In [1114]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [1115]:
test_ex4 = df1.loc[[i for i in range(1995,2010)],['GPP Per capita (Baht)']]
test_ex4

      GPP Per capita (Baht)
Year
1995             143862.554
1996             171503.917
1997             179223.451
1998             180611.806
1999             189856.706
2000             219141.847
2001             219060.592
2002             231122.492
2003             256743.101
2004             271765.117
2005             273739.910
2006             298954.253
2007             339993.396
2008             438555.445
2009             379657.777

In [1116]:
X_test_ex4 = test_ex4[['GPP Per capita (Baht)']]
X_test_ex4 = sm.add_constant(X_test_ex4, prepend=False)
X_test_ex4.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
1995             143862.554    1.0
1996             171503.917    1.0
1997             179223.451    1.0
1998             180611.806    1.0
1999             189856.706    1.0

In [1117]:
predictions = lm.predict(X_test_ex4)
predictions

array([ 205979.6393863 ,  297245.16013127,  322733.31317272,
        327317.3469649 ,  357841.91309195,  454534.81652998,
        454266.53092163,  494092.19308864,  578685.64176149,
        628284.93658929,  634805.25584809,  718057.30619514,
        853559.2623332 , 1178988.82699235,  984522.0656867 ])

##### จำนวนนักท่องเที่ยวชาวต่างชาติ (คน)

In [1118]:
ex5 = df1.loc[[i for i in range(2010,2019)],['จำนวนนักท่องเที่ยวชาวต่างชาติ (คน)','GPP Per capita (Baht)']]
ex5

      จำนวนนักท่องเที่ยวชาวต่างชาติ (คน)  GPP Per capita (Baht)
Year
2010                            241583.0             427733.436
2011                            176974.0             365800.945
2012                            319872.0             378620.537
2013                            319845.0             461789.496
2014                            343339.0             417614.341
2015                            343180.0             468325.834
2016                            345115.0             444803.565
2017                            355607.0             449602.967
2018                            369547.0             454952.541

In [1119]:
X = ex5[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
2010             427733.436    1.0
2011             365800.945    1.0
2012             378620.537    1.0
2013             461789.496    1.0
2014             417614.341    1.0

In [1120]:
y = ex5['จำนวนนักท่องเที่ยวชาวต่างชาติ (คน)']
y.head()

Year
2010    241583.0
2011    176974.0
2012    319872.0
2013    319845.0
2014    343339.0
Name: จำนวนนักท่องเที่ยวชาวต่างชาติ (คน), dtype: float64

In [1127]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.000000000001,random_state=14)

In [1128]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [1129]:
test_ex5 = df1.loc[[i for i in range(1995,2010)],['GPP Per capita (Baht)']]
test_ex5

      GPP Per capita (Baht)
Year
1995             143862.554
1996             171503.917
1997             179223.451
1998             180611.806
1999             189856.706
2000             219141.847
2001             219060.592
2002             231122.492
2003             256743.101
2004             271765.117
2005             273739.910
2006             298954.253
2007             339993.396
2008             438555.445
2009             379657.777

In [1130]:
X_test_ex5 = test_ex5[['GPP Per capita (Baht)']]
X_test_ex5 = sm.add_constant(X_test_ex5, prepend=False)
X_test_ex5.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      GPP Per capita (Baht)  const
Year
1995             143862.554    1.0
1996             171503.917    1.0
1997             179223.451    1.0
1998             180611.806    1.0
1999             189856.706    1.0

In [1131]:
predictions = lm.predict(X_test_ex5)
predictions

array([-34457.66740414,   -704.22046058,   8722.26409078,  10417.61344208,
        21706.75434474,  57467.45301138,  57368.23083007,  72097.26939769,
       103383.13133377, 121726.82950963, 124138.29057796, 154928.05259755,
       205041.80913914, 325397.99025692, 253476.81502625])

In [1137]:
pd.DataFrame([np.nan,  np.nan,   8722.26409078,  10417.61344208,
        21706.75434474,  57467.45301138,  57368.23083007,  72097.26939769,
       103383.13133377, 121726.82950963, 124138.29057796, 154928.05259755,
       205041.80913914, 325397.99025692, 253476.81502625]).interpolate(method='linear', limit_direction='forward', axis=0)

                0
0             NaN
1             NaN
2     8722.264091
3    10417.613442
4    21706.754345
5    57467.453011
6    57368.230830
7    72097.269398
8   103383.131334
9   121726.829510
10  124138.290578
11  154928.052598
12  205041.809139
13  325397.990257
14  253476.815026

In [1138]:
pd.DataFrame([np.nan,  np.nan,   8722.26409078,  10417.61344208,
        21706.75434474,  57467.45301138,  57368.23083007,  72097.26939769,
       103383.13133377, 121726.82950963, 124138.29057796, 154928.05259755,
       205041.80913914, 325397.99025692, 253476.81502625]).interpolate(method='linear', limit_direction='backward', axis=0)

                0
0     8722.264091
1     8722.264091
2     8722.264091
3    10417.613442
4    21706.754345
5    57467.453011
6    57368.230830
7    72097.269398
8   103383.131334
9   121726.829510
10  124138.290578
11  154928.052598
12  205041.809139
13  325397.990257
14  253476.815026

## Find data by Interpolation

In [1126]:
ex6 = df1['ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี)']
ex6

Year
1995        NaN
1996    0.11918
1997    0.10214
1998        NaN
1999    0.24836
2000    0.24471
2001    0.25231
2002    0.23055
2003    0.24534
2004    0.23828
2005    0.21889
2006    0.23271
2007    0.20080
2008    0.20331
2009    0.23455
2010        NaN
2011    0.36146
2012        NaN
2013    0.44164
2014    0.47988
2015    0.61609
2016    0.77817
2017    1.00179
2018        NaN
Name: ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี), dtype: float64

In [1134]:
ex6.interpolate(method='linear', limit_direction='forward', axis=0)

Year
1995         NaN
1996    0.119180
1997    0.102140
1998    0.175250
1999    0.248360
2000    0.244710
2001    0.252310
2002    0.230550
2003    0.245340
2004    0.238280
2005    0.218890
2006    0.232710
2007    0.200800
2008    0.203310
2009    0.234550
2010    0.298005
2011    0.361460
2012    0.401550
2013    0.441640
2014    0.479880
2015    0.616090
2016    0.778170
2017    1.001790
2018    1.001790
Name: ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี), dtype: float64

In [1135]:
ex6.interpolate(method='linear', limit_direction='backward', axis=0)

Year
1995    0.119180
1996    0.119180
1997    0.102140
1998    0.175250
1999    0.248360
2000    0.244710
2001    0.252310
2002    0.230550
2003    0.245340
2004    0.238280
2005    0.218890
2006    0.232710
2007    0.200800
2008    0.203310
2009    0.234550
2010    0.298005
2011    0.361460
2012    0.401550
2013    0.441640
2014    0.479880
2015    0.616090
2016    0.778170
2017    1.001790
2018         NaN
Name: ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี), dtype: float64