In [1]:
#! -*- coding: UTF8 -*-
import os
os.chdir(os.getcwd())

## Import Module

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

## Import Data

In [5]:
df = pd.read_excel('process_data/GPP_6210501001.xlsx',sheet_name="use1") #ตัวอย่าง
df.replace({'..':np.nan},inplace=True)
df.head()

,Product,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"Agriculture, forestry and fishing",3069,3305,4056,4805,4030,3854,4577,4704,4892,...,10239,8556,6999,11907,15892,12116,10473,9196,10334,11377
1,Mining and quarrying,471,513,474,395,302,255,271,248,248,...,978,1040,1222,1209,1187,1334,2067,2261,2190,2464
2,Manufacturing,70294,80942,86917,84878,92332,107280,108644,117685,138362,...,227338,266438,217934,218585,287459,254115,292508,272229,268841,265997
3,"Electricity, gas, steam and air conditioning s...",2030,2290,2697,3388,2974,3169,3266,3440,3860,...,5125,5826,5269,5945,6688,6854,6645,6750,9169,9679
4,"Water supply; sewerage, waste management and r...",254,324,382,420,503,590,609,545,952,...,566,571,491,558,608,648,689,716,801,921