In [1]:
import os
os.chdir(os.getcwd())
os.getcwd()

'/Users/pantchanit/Documents/python-linear'

In [2]:
import math
import numpy as np
import pandas as pd

## Multiple Linear Regression: Example 1

In [3]:
df = pd.read_csv("cars.csv")
df

         make   hp  liters     fuel  premium1
0        Ford  132     2.0  regular         0
1       Mazda  167     2.0  premium         1
2      Subaru  170     2.5  regular         0
3       Lexus  204     2.5  premium         1
4  Mitsubishi  230     3.0  regular         0
5         BMW  260     3.0  premium         1

In [4]:
import statsmodels.api as sm

X = df[['liters','premium1']]
X = sm.add_constant(X, prepend=False)
model = sm.OLS(df.hp, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     hp   R-squared:                       0.987
Model:                            OLS   Adj. R-squared:                  0.978
Method:                 Least Squares   F-statistic:                     109.7
Date:                Thu, 27 Jan 2022   Prob (F-statistic):            0.00157
Time:                        11:04:54   Log-Likelihood:                -18.111
No. Observations:                   6   AIC:                             42.22
Df Residuals:                       3   BIC:                             41.60
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
liters        95.5000      7.002     13.639      0.001      73.217     117.783
premium1      33.0000      5.717      5.772      0.010      14.806      51.194
const        -61.4167     17.966     -3.419      0.042    -118.592      -4.242
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.894
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.877
Skew:                          -0.580   Prob(JB):                        0.645
Kurtosis:                       1.529   Cond. No.                         18.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [5]:
X

   liters  premium1  const
0     2.0         0    1.0
1     2.0         1    1.0
2     2.5         0    1.0
3     2.5         1    1.0
4     3.0         0    1.0
5     3.0         1    1.0