In [50]:
#! -*- coding: UTF8 -*-
import os
os.chdir(os.getcwd())

## Import Module

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

## Import Data

In [53]:
df1 = pd.read_excel('process_data/GPP_6210501001.xlsx',sheet_name="LopBuri",index_col="Year") #ตัวอย่าง
df1.head()

,"Agriculture, forestry and fishing",Mining and quarrying,Manufacturing,"Electricity, gas, steam and air conditioning supply","Water supply; sewerage, waste management and remediation activities",Construction,Wholesale and retail trade and repair of motor vehicles,Transportation and storage,Accommodation and food service activities,Information and communication,...,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
Year,,,,,,,,,,,,,,,,,,,,,
1995.0,5391.575854,19.009823,7176.043232,590.238706,142.277622,3391.005101,3484.507633,1016.736730,176.898917,195.790885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996.0,6206.682558,37.744703,6810.317457,677.218307,137.423999,7728.645631,3737.141208,1113.256820,153.858116,224.369211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997.0,6014.415215,36.238535,6988.106194,817.941119,149.159330,5647.894247,4542.778789,1172.783861,140.141879,234.727143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998.0,6270.177149,28.193053,5739.574622,1090.869869,130.489143,3182.288913,4987.801949,1245.856126,474.662929,229.726314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999.0,5684.674097,42.046276,4594.756351,958.722269,143.734495,2304.876078,4652.336854,1226.177795,564.896952,241.436570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df1.keys()

Index(['Agriculture, forestry and fishing', 'Mining and quarrying',
       'Manufacturing', 'Electricity, gas, steam and air conditioning supply',
       'Water supply; sewerage, waste management and remediation activities',
       'Construction',
       'Wholesale and retail trade and repair of motor vehicles',
       'Transportation and storage',
       'Accommodation and food service activities',
       'Information and communication', 'Financial and insurance activities',
       'Real estate activities',
       'Professional, scientific and technical activities',
       'Administrative and support service activities',
       'Public administration and defence; compulsory social security',
       'Education', 'Human health activities',
       'Arts, entertainment and recreation', 'Other service activities',
       'การค้าสินค้า (คิดเป็น % ของจีดีพี)',
       'มูลค่าเพิ่มของการเกษตร (คิดเป็น % ของจีดีพี)',
       'การนำเข้าสินค้าและบริการ (คิดเป็น % ของจีดีพี)',
       'มูลค่าเพิ่มของอุตสาหกรรม (คิดเป็น % ของจีดีพี)',
       'จำนวนประชากรทั้งหมด (คน)',
       'ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี)',
       'รายจ่ายของประชากรในจังหวัดลพบุรี (บาท)',
       'เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)',
       'เนื้อที่สวนผักและไม้ดอก (ไร่)', 'เนื้อที่สำหรับปลูกนาข้าว (ไร่)',
       'จำนวนโรงงานอุตสาหกรรม (โรงงาน)', 'GPP Per capita (Baht)',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49'],
      dtype='object')

## Find data by Regression

##### รายจ่ายของประชากรในจังหวัดลพบุรี (บาท)

In [55]:
ex1 = df1.loc[[i for i in range(2006,2019)],['รายจ่ายของประชากรในจังหวัดลพบุรี (บาท)','GPP Per capita (Baht)']]
ex1

        รายจ่ายของประชากรในจังหวัดลพบุรี (บาท)  GPP Per capita (Baht)
Year
2006.0                                15870.00              73109.129
2007.0                                14462.00              73165.713
2008.0                                15386.00              79468.550
2009.0                                16764.00              85731.583
2010.0                                14433.00              87969.749
2011.0                                14875.40              96247.730
2012.0                                17356.96             116911.574
2013.0                                15944.80             122285.538
2014.0                                14910.71             125135.992
2015.0                                17968.90             123891.962
2016.0                                15875.50             129404.072
2017.0                                16012.15             142017.180
2018.0                                17016.83             142741.160

In [56]:
import statsmodels.api as sm
X = ex1[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
2006.0              73109.129    1.0
2007.0              73165.713    1.0
2008.0              79468.550    1.0
2009.0              85731.583    1.0
2010.0              87969.749    1.0

In [57]:
y = ex1['รายจ่ายของประชากรในจังหวัดลพบุรี (บาท)']
y.head()

Year
2006.0    15870.0
2007.0    14462.0
2008.0    15386.0
2009.0    16764.0
2010.0    14433.0
Name: รายจ่ายของประชากรในจังหวัดลพบุรี (บาท), dtype: float64

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05,random_state=14)

In [59]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [60]:
X_train

        GPP Per capita (Baht)  const
Year
2009.0              85731.583    1.0
2018.0             142741.160    1.0
2007.0              73165.713    1.0
2006.0              73109.129    1.0
2015.0             123891.962    1.0
2010.0              87969.749    1.0
2008.0              79468.550    1.0
2016.0             129404.072    1.0
2013.0             122285.538    1.0
2012.0             116911.574    1.0
2014.0             125135.992    1.0
2017.0             142017.180    1.0

In [61]:
test_ex1 = df1.loc[[i for i in range(1995,2006)],['GPP Per capita (Baht)']]
test_ex1

        GPP Per capita (Baht)
Year
1995.0              42592.536
1996.0              50643.659
1997.0              49943.407
1998.0              48207.329
1999.0              44913.880
2000.0              47871.434
2001.0              52910.182
2002.0              61030.759
2003.0              63989.590
2004.0              65838.869
2005.0              73094.025

In [62]:
X_test_ex1 = test_ex1[['GPP Per capita (Baht)']]
X_test_ex1 = sm.add_constant(X_test_ex1, prepend=False)
X_test_ex1.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
1995.0              42592.536    1.0
1996.0              50643.659    1.0
1997.0              49943.407    1.0
1998.0              48207.329    1.0
1999.0              44913.880    1.0

In [63]:
predictions = lm.predict(X_test_ex1)
predictions

array([14756.7602144 , 14908.67276468, 14895.46006539, 14862.70289146,
       14800.5604752 , 14856.36505932, 14951.43863588, 15104.6616784 ,
       15160.49035759, 15195.38346369, 15332.27731696])

##### เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)

In [64]:
ex2 = df1.loc[[i for i in range(2010,2019)],['เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)','GPP Per capita (Baht)']]
ex2

        เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)  GPP Per capita (Baht)
Year
2010.0                              2541350.0              87969.749
2011.0                              2541569.0              96247.730
2012.0                              2196101.0             116911.574
2013.0                              2189464.0             122285.538
2014.0                              2211616.0             125135.992
2015.0                              2191974.0             123891.962
2016.0                              2191454.0             129404.072
2017.0                              2191311.0             142017.180
2018.0                              2191867.0             142741.160

In [65]:
X = ex2[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
2010.0              87969.749    1.0
2011.0              96247.730    1.0
2012.0             116911.574    1.0
2013.0             122285.538    1.0
2014.0             125135.992    1.0

In [66]:
y = ex2['เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่)']
y.head()

Year
2010.0    2541350.0
2011.0    2541569.0
2012.0    2196101.0
2013.0    2189464.0
2014.0    2211616.0
Name: เนื้อที่ที่ถือครองเพื่อการเกษตร (ไร่), dtype: float64

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05,random_state=14)

In [68]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [69]:
test_ex2 = df1.loc[[i for i in range(1995,2010)],['GPP Per capita (Baht)']]
test_ex2

        GPP Per capita (Baht)
Year
1995.0              42592.536
1996.0              50643.659
1997.0              49943.407
1998.0              48207.329
1999.0              44913.880
2000.0              47871.434
2001.0              52910.182
2002.0              61030.759
2003.0              63989.590
2004.0              65838.869
2005.0              73094.025
2006.0              73109.129
2007.0              73165.713
2008.0              79468.550
2009.0              85731.583

In [70]:
X_test_ex2 = test_ex2[['GPP Per capita (Baht)']]
X_test_ex2 = sm.add_constant(X_test_ex2, prepend=False)
X_test_ex2.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
1995.0              42592.536    1.0
1996.0              50643.659    1.0
1997.0              49943.407    1.0
1998.0              48207.329    1.0
1999.0              44913.880    1.0

In [71]:
predictions = lm.predict(X_test_ex2)
predictions

array([2844151.80712635, 2785921.22053127, 2790985.86613715,
       2803542.23129451, 2827362.44459779, 2805971.62690608,
       2769528.35660145, 2710795.43670935, 2689395.38298198,
       2676020.27978855, 2623546.60751715, 2623437.36626224,
       2623028.11658218, 2577442.1907774 , 2532144.15155302])

##### จำนวนโรงงานอุตสาหกรรม (โรงงาน)

In [72]:
ex3= df1.loc[[i for i in range(2011,2019)],['จำนวนโรงงานอุตสาหกรรม (โรงงาน)','GPP Per capita (Baht)']]
ex3

        จำนวนโรงงานอุตสาหกรรม (โรงงาน)  GPP Per capita (Baht)
Year
2011.0                            26.0              96247.730
2012.0                            40.0             116911.574
2013.0                            32.0             122285.538
2014.0                            37.0             125135.992
2015.0                            59.0             123891.962
2016.0                            31.0             129404.072
2017.0                            19.0             142017.180
2018.0                            30.0             142741.160

In [73]:
X = ex3[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
2011.0              96247.730    1.0
2012.0             116911.574    1.0
2013.0             122285.538    1.0
2014.0             125135.992    1.0
2015.0             123891.962    1.0

In [74]:
y = ex3['จำนวนโรงงานอุตสาหกรรม (โรงงาน)']
y.head()

Year
2011.0    26.0
2012.0    40.0
2013.0    32.0
2014.0    37.0
2015.0    59.0
Name: จำนวนโรงงานอุตสาหกรรม (โรงงาน), dtype: float64

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05,random_state=14)

In [76]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [77]:
test_ex3 = df1.loc[[i for i in range(1995,2011)],['GPP Per capita (Baht)']]
test_ex3

        GPP Per capita (Baht)
Year
1995.0              42592.536
1996.0              50643.659
1997.0              49943.407
1998.0              48207.329
1999.0              44913.880
2000.0              47871.434
2001.0              52910.182
2002.0              61030.759
2003.0              63989.590
2004.0              65838.869
2005.0              73094.025
2006.0              73109.129
2007.0              73165.713
2008.0              79468.550
2009.0              85731.583
2010.0              87969.749

In [78]:
X_test_ex3 = test_ex3[['GPP Per capita (Baht)']]
X_test_ex3 = sm.add_constant(X_test_ex3, prepend=False)
X_test_ex3.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
1995.0              42592.536    1.0
1996.0              50643.659    1.0
1997.0              49943.407    1.0
1998.0              48207.329    1.0
1999.0              44913.880    1.0

In [79]:
predictions = lm.predict(X_test_ex3)
predictions

array([43.54947277, 42.67756464, 42.75339945, 42.94141055, 43.29807943,
       42.97778679, 42.43210822, 41.55267847, 41.23224754, 41.03197717,
       40.24626945, 40.24463375, 40.2385059 , 39.55593096, 38.87766665,
       38.63528119])

##### เนื้อที่สวนผักและไม้ดอก (ไร่)

In [80]:
ex4 = df1.loc[[i for i in range(2010,2019)],['เนื้อที่สวนผักและไม้ดอก (ไร่)','GPP Per capita (Baht)']]
ex4

        เนื้อที่สวนผักและไม้ดอก (ไร่)  GPP Per capita (Baht)
Year
2010.0                   20343.000000              87969.749
2011.0                   20535.000000              96247.730
2012.0                   20364.000000             116911.574
2013.0                   20318.469064             122285.538
2014.0                   20634.000000             125135.992
2015.0                   20630.000000             123891.962
2016.0                   20629.000000             129404.072
2017.0                   20523.000000             142017.180
2018.0                   20527.000000             142741.160

In [81]:
X = ex4[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
2010.0              87969.749    1.0
2011.0              96247.730    1.0
2012.0             116911.574    1.0
2013.0             122285.538    1.0
2014.0             125135.992    1.0

In [82]:
y = ex4['เนื้อที่สวนผักและไม้ดอก (ไร่)']
y.head()

Year
2010.0    20343.000000
2011.0    20535.000000
2012.0    20364.000000
2013.0    20318.469064
2014.0    20634.000000
Name: เนื้อที่สวนผักและไม้ดอก (ไร่), dtype: float64

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.001,random_state=14)

In [84]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [85]:
test_ex4 = df1.loc[[i for i in range(1995,2010)],['GPP Per capita (Baht)']]
test_ex4

        GPP Per capita (Baht)
Year
1995.0              42592.536
1996.0              50643.659
1997.0              49943.407
1998.0              48207.329
1999.0              44913.880
2000.0              47871.434
2001.0              52910.182
2002.0              61030.759
2003.0              63989.590
2004.0              65838.869
2005.0              73094.025
2006.0              73109.129
2007.0              73165.713
2008.0              79468.550
2009.0              85731.583

In [86]:
X_test_ex4 = test_ex4[['GPP Per capita (Baht)']]
X_test_ex4 = sm.add_constant(X_test_ex4, prepend=False)
X_test_ex4.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
1995.0              42592.536    1.0
1996.0              50643.659    1.0
1997.0              49943.407    1.0
1998.0              48207.329    1.0
1999.0              44913.880    1.0

In [87]:
predictions = lm.predict(X_test_ex4)
predictions

array([20276.51461408, 20298.01997978, 20296.14953571, 20291.51229538,
       20282.71515923, 20290.61508578, 20304.07409248, 20325.76497685,
       20333.6683144 , 20338.60792608, 20357.98718323, 20358.02752754,
       20358.17866914, 20375.01418571, 20391.74338175])

##### เนื้อที่สำหรับปลูกนาข้าว (ไร่)

In [88]:
ex5 = df1.loc[[i for i in range(2010,2019)],['เนื้อที่สำหรับปลูกนาข้าว (ไร่)','GPP Per capita (Baht)']]
ex5

        เนื้อที่สำหรับปลูกนาข้าว (ไร่)  GPP Per capita (Baht)
Year
2010.0                        825214.0              87969.749
2011.0                        812779.0              96247.730
2012.0                        812975.0             116911.574
2013.0                        812719.0             122285.538
2014.0                        812522.0             125135.992
2015.0                        813100.0             123891.962
2016.0                        812485.0             129404.072
2017.0                        813167.0             142017.180
2018.0                        812834.0             142741.160

In [89]:
X = ex5[['GPP Per capita (Baht)']]
X = sm.add_constant(X, prepend=False)
X.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
2010.0              87969.749    1.0
2011.0              96247.730    1.0
2012.0             116911.574    1.0
2013.0             122285.538    1.0
2014.0             125135.992    1.0

In [90]:
y = ex5['เนื้อที่สำหรับปลูกนาข้าว (ไร่)']
y.head()

Year
2010.0    825214.0
2011.0    812779.0
2012.0    812975.0
2013.0    812719.0
2014.0    812522.0
Name: เนื้อที่สำหรับปลูกนาข้าว (ไร่), dtype: float64

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.000000000001,random_state=14)

In [92]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [93]:
test_ex5 = df1.loc[[i for i in range(1995,2010)],['GPP Per capita (Baht)']]
test_ex5

        GPP Per capita (Baht)
Year
1995.0              42592.536
1996.0              50643.659
1997.0              49943.407
1998.0              48207.329
1999.0              44913.880
2000.0              47871.434
2001.0              52910.182
2002.0              61030.759
2003.0              63989.590
2004.0              65838.869
2005.0              73094.025
2006.0              73109.129
2007.0              73165.713
2008.0              79468.550
2009.0              85731.583

In [94]:
X_test_ex5 = test_ex5[['GPP Per capita (Baht)']]
X_test_ex5 = sm.add_constant(X_test_ex5, prepend=False)
X_test_ex5.head()

/Users/pantchanit/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

        GPP Per capita (Baht)  const
Year
1995.0              42592.536    1.0
1996.0              50643.659    1.0
1997.0              49943.407    1.0
1998.0              48207.329    1.0
1999.0              44913.880    1.0

In [95]:
predictions = lm.predict(X_test_ex5)
predictions

array([825697.50851189, 824521.04714331, 824623.37068578, 824877.0531472 ,
       825358.30470899, 824926.13542944, 824189.85399789, 823003.24374102,
       822570.88786127, 822300.66402999, 821240.5124515 , 821238.30539635,
       821230.03712246, 820309.04209568, 819393.86338401])

## Find data by Interpolation

In [96]:
ex6 = df1['ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี)']
ex6

Year
1995.0        NaN
1996.0    0.11918
1997.0    0.10214
1998.0        NaN
1999.0    0.24836
2000.0    0.24471
2001.0    0.25231
2002.0    0.23055
2003.0    0.24534
2004.0    0.23828
2005.0    0.21889
2006.0    0.23271
2007.0    0.20080
2008.0    0.20331
2009.0    0.23455
2010.0        NaN
2011.0    0.36146
2012.0        NaN
2013.0    0.44164
2014.0    0.47988
2015.0    0.61609
2016.0    0.77817
2017.0    1.00179
2018.0        NaN
NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN
Name: ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี), dtype: float64

In [97]:
ex6.interpolate(method='linear', limit_direction='forward', axis=0)

Year
1995.0         NaN
1996.0    0.119180
1997.0    0.102140
1998.0    0.175250
1999.0    0.248360
2000.0    0.244710
2001.0    0.252310
2002.0    0.230550
2003.0    0.245340
2004.0    0.238280
2005.0    0.218890
2006.0    0.232710
2007.0    0.200800
2008.0    0.203310
2009.0    0.234550
2010.0    0.298005
2011.0    0.361460
2012.0    0.401550
2013.0    0.441640
2014.0    0.479880
2015.0    0.616090
2016.0    0.778170
2017.0    1.001790
2018.0    1.001790
NaN       1.001790
NaN       1.001790
NaN       1.001790
NaN       1.001790
NaN       1.001790
Name: ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี), dtype: float64

In [98]:
ex6.interpolate(method='linear', limit_direction='backward', axis=0)

Year
1995.0    0.119180
1996.0    0.119180
1997.0    0.102140
1998.0    0.175250
1999.0    0.248360
2000.0    0.244710
2001.0    0.252310
2002.0    0.230550
2003.0    0.245340
2004.0    0.238280
2005.0    0.218890
2006.0    0.232710
2007.0    0.200800
2008.0    0.203310
2009.0    0.234550
2010.0    0.298005
2011.0    0.361460
2012.0    0.401550
2013.0    0.441640
2014.0    0.479880
2015.0    0.616090
2016.0    0.778170
2017.0    1.001790
2018.0         NaN
NaN            NaN
NaN            NaN
NaN            NaN
NaN            NaN
NaN            NaN
Name: ค่าใช้จ่ายในการวิจัยและพัฒนา (คิดเป็น % ของจีดีพี), dtype: float64